.liquidGlass-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  font-weight: 600;
  cursor: pointer;
  border-radius: 100px;
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1); */
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(162, 175, 180, 0.25);
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  border-radius: 90px;
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.2),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.2);
}

.liquidGlass-text {
  z-index: 3;
  font-size: 1rem;
  color: black;
  width: 100%;
}
