@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-tl from-white via-white to-blue-50;
  }
  .bg-gradient-video-layer {
    @apply bg-gradient-to-t from-slate-700/60 via-slate-300/30 to-white/10;
  }
  .text-gradient {
    @apply bg-gradient-to-r from-indigo-500 to-blue-500 bg-clip-text text-transparent;
  }
  .primary-btn {
    @apply btn border-0 bg-primary text-white h-full rounded-[20px] shade-x;
  }
  .section-text {
    @apply md:text-6xl text-4xl font-bold text-slate-700 capitalize;
  }
  .section-container {
    @apply w-full h-auto min-h-screen md:p-20 py-8;
  }
  .product-container {
    @apply w-full h-auto min-h-[70vh] p-20;
  }
  .hero-section {
    @apply w-full h-screen z-10;
  }
  .gsap-from {
    @apply opacity-0 scale-[0.5] rotate-[70deg];
  }
  .fade-left {
    @apply opacity-0 -left-[100px];
  }
  .fade-bottom {
    @apply opacity-0 translate-y-[-100px];
  }
  .gsap-services-from {
    @apply opacity-0 -left-[100px];
  }
  .gsap-to {
    @apply opacity-100 left-0;
  }
  .gsap-from-bottom {
    @apply relative opacity-0 -bottom-[100px];
  }
}

body {
  max-width: 2000px !important;
}

.bg-primary {
  background: #1f70c1;
}
.text-primary {
  color: #1f70c1;
}

.loading-fade {
  animation: loading-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes loading-ping {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Patters */
.pattern-blue {
  background-color: #1f70c1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.pattern-pie {
  background-color: #1f70c1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-pattern-pie {
  width: 100%;
  height: 100%;
  opacity: 0.06;
  background-color: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 1),
    rgba(0, 0, 255, 0)
  );
  background-image: url("/icons/patterns/pie_pattern.svg");
  background-position: 40px 40px;
  background-repeat: repeat;
  background-size: 60px 60px;
}
.bg-pattern-cork {
  width: 100%;
  height: 100%;
  opacity: 0.075;
  background-image: url("/icons/patterns/cork-screw.svg");
  /* background-position: 40px 40px; */
  background-repeat: repeat;
  background-size: 90px 90px;
}
.pattern-wave {
  background-color: rgba(0, 0, 0, 0);
  background-position: 40px 40px;
  background-repeat: repeat;
  width: 300%;
  height: 500%;
  left: 0;
  opacity: 0.05;
  transform: rotate(40deg);
  background-image: url("/icons/patterns/bank-note.svg");
}
@media (max-width: 720px) {
  .pattern-wave {
    left: -40%;
  }
}
.squiggly-pattern {
  background-image: url("/icons/patterns/sssquiggly.svg");
  background-repeat: repeat;
}
.squiggly-2-pattern {
  opacity: 0.1;
  background-image: url("/icons/patterns/sssquiggly-2.svg");
}
.ten-pattern {
  width: 100%;
  height: 100%;
  background-image: url("/icons/patterns/ttten.svg");
  background-repeat: repeat;
}
.ten-2-pattern {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("/icons/patterns/ttten-2.svg");
}
/* End Patterns */

.glass-card {
  backdrop-filter: blur(21px) saturate(100%);
  -webkit-backdrop-filter: blur(21px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.uppernav-mobile-slide-0 {
  transform: translateX(0);
  margin-left: -2.5rem;
}
.uppernav-mobile-slide-full {
  transform: translateX(-1000px);
}

.upper-nav-link::after {
  content: "";
  position: relative;
  display: flex;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #1f70c1;
  transition: all ease-in 0.24s;
}
.upper-nav-link:hover::after {
  width: 100%;
  left: 0;
  transition: all ease-in-out 0.24s;
}

.link-active::after {
  content: "";
  position: relative;
  display: flex;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 4px;
  border-radius: 2px;
  background-color: #1f70c1;
  transition: all ease-in 0.24s;
}

.shade-x {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 40px;
}
.shade-l {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
}
.shade-m {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}
